{
  "local_id": "node1",
  "hostname": "127.0.0.1",
  "trailing_logs": 5,
  "log_store_file": "logs.db",
  "log_cache_size": 16,
  "snapshot_dir": "snapshots",
  "snapshot_interval": "20s",
  "snapshot_threshold": 10,
  "snapshot_retain": 1,
  "no_snapshot_restore_on_start": false,
  "raft_port": 3001,
  "max_pool": 3,
  "tcp_timeout": "1s",
  "servers": [
    {
      "id": "node1",
      "address": "127.0.0.1:3001"
    },
    {
      "suffrage": 1,
      "id": "node2",
      "address": "127.0.0.2:3001"
    }
  ],
  "bike_store_file": "bikes.db",
  "api_port": 8001,
  "graceful": "5s"
}
