<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>bikeme</title>
</head>
<body>
  <h1>bikeme</h1>
  <ul>
    {{range $i, $b := .Bikes}}
    <li>
      {{$b.ID}} - {{$b.Name}}
      <ul>
	{{range $j, $c := $b.Components}}
	<li>
	  {{$c.ID}} - {{$c.Name}}
	</li>
	{{end}}
      </ul>
    </li>
    {{end}}
  </ul>
  <a href="/?limit={{.Limit}}&offset=0">first</a>
  <a href="/?limit={{.Limit}}&offset={{.Offset}}">next</a>
</body>
</html>
