<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>bikeme</title>
</head>
<body>
  <ol>
    {{range $i, $b := .Bikes}}
    <li>
      {{$b.Name}}
      <ul>
	{{range $j, $c := $b.Components}}
	<li>
	  {{$c.Name}}
	</li>
	{{end}}
      </ul>
    </li>
    {{end}}
  </ol>
</body>
</html>
